<div class="created"><%= new Date(Date.parse(entry.get("created_at"))) %></div>
<div class="title">
  <h2 class="view"><%= entry.escape("title") %></h2>
  <input name="entry[title]" class="view" value="<%= entry.escape("title") %>">
</div>

<div class="body">
  <p class="view">
    <%= entry.escape("body") %>
  </p>
  <textarea rows="10" name="entry[body]" class="view" ><%=entry.get("body") %></textarea>
</div>

<a href="#/">Home</a>